################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.suo
*.db
*.opendb
/.vs
/WUDESIM.vcxproj.user
/WUDESIM.vcxproj.filters
/WUDESIM.vcxproj
/WUDESIM.sln
/Debug/WUDESIM.tlog
/Debug
